# Virtual environment
env/

# Python cache files
__pycache__/
*.py[cod]
*$py.class

# SQLite database
*.sqlite3

# VSCode files
.vscode/
*.code-workspace

# System files
.DS_Store
Thumbs.db

# Logs and temporary files
*.log
*.tmp
